.CFUserTextEncoding
.DS_Store
.Music Creation Group
.TotalPhase
.Trash
.arduinoIDE
.cortex-debug
.cups
.easyeda
.esets
.gitconfig
.installbuilder
.jssc
.kermrc
.kivy
.lesshst
.local
.matplotlib
.platformio
.python_history
.ssh
.thumbnails
.viminfo
.vscode
.zsh_history
.zsh_sessions
Applications
DFUTools
Desktop
DeviceTools
Documents
Downloads
Downloads 
Library
Movies
Music
Pictures
Public
tmp